doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title="Template PUG"
    body 
        h1="Productos Cargados:"
        if listExist
            table
                thead 
                    tr
                        th Nombre
                        th Precio
                        th Foto
                tbody
                    each val in list
                        tr
                            td #{val.title}
                            td #{val.price}
                            td(scope="row") 
                                img(src= val.thumbnail, alt="icon", width="50", height="50")
        else
          h3=error
        